.forn-16{
    font-size: 16px;
}
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.w-18{
    width: 18%;
}
.w-20{
    width: 20%;
}
.boxed {
    width: 200px;
    height: 700px;
    position: relative;
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: white;
    border-radius: 20px;
}
.error-mess{
    color: red;
}
.boxed:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    margin: -10px;
    background-image: linear-gradient(to right top, #2979ff, #07a787);
    border-radius: inherit;
}

.mg {
    margin-top: 23px;
}